.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #4ADEFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clock-container {
  display: block;
  position: relative;
  background-color: #000;
  height: 70vh;
  width: 70vh;
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(58,116,129,0.65);
}

.clock-face {
  background-color: #FFF;
  height: 60vh;
  width: 60vh;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clock-face:after {
  background-color: #FFF;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.marking {
  content: '';
  position: absolute;
  width: 1%;
  height: 100%;
  background: #000;
  z-index: 0;
  left: 49.5%;
}

.marking1, .marking4 {
  width: 2%;
  left: 49%;
}

.marking2 {
  transform: rotate(30deg);
}

.marking3 {
  transform: rotate(60deg);
}

.marking4 {
  transform: rotate(90deg);
}

.marking5 {
  transform: rotate(120deg);
}

.marking6 {
  transform: rotate(150deg);
}

.clock-hands-container {
  display: block;
  position: absolute;
  height: 60vh;
  width: 60vh;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clock-hands-container:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

.hour-hand-container {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 2.5%;
  left: 48.75%;
}

.hour-hand {
  display: inline-block;
  position: relative;
  background-color: #000000;
  height: 20%;
  width: 100%;
  top: 30%;
}

.minute-hand-container {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 2.5%;
  left: 48.75%;
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}

.minute-hand {
  display: inline-block;
  position: relative;
  background-color: #000000;
  height: 40%;
  width: 100%;
  top: 10%;
}

.second-hand-container {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 1%;
  left: 49.5%;
  transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}

.second-hand {
  display: inline-block;
  position: relative;
  background-color: red;
  height: 45%;
  width: 100%;
  top: 14%;
}
